# Dependencias (esta es la más importante para no subir miles de archivos)
node_modules/

# Archivos de sistema y configuración local
.DS_Store
Thumbs.db
.vscode/
.env

# Logs y archivos temporales de ejecución
node_modules/
pages/node_modules/
.terminal_history.json